#container {
  /* position: absolute;
    top: 40%;
    left: 40%; */
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #666666;
}

#container div {
  flex-basis: 22%;
  height: 28%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yellow {
  background: linear-gradient(
    rgb(255, 255, 204) 0%,
    rgb(227, 227, 183) 75%,
    rgb(198, 198, 165) 93%
  );
  transform: rotate(-2deg);
}

.purple {
  background: linear-gradient(
    rgb(204, 204, 255) 0%,
    rgb(176, 176, 204) 75%,
    rgb(147 147 186) 93%
  );
  transform: rotate(-3deg);
}

.green {
  background: linear-gradient(
    rgb(204, 255, 204) 0%,
    rgb(184, 219, 184) 75%,
    rgb(146 180 146) 93%
  );
transform: rotate(4deg);
}

h1 {
  font-weight: 700;
  font-size: xx-large;
}

p {
  margin-top: 6%;
  font-size: larger;
}

#container div:hover{
  transform: rotate(0deg);
  transform: scale(1.1, 1.1);
  transition-duration: 0.2s;
}